@import url(fontiran.css);
body{
    background-color: #FFFFFF !important;
    font-family: IRANSans, tahoma !important;
}
h1, h2, h3, h4, h5, h6,input, textarea {
    font-family: IRANSans, tahoma !important;
}
a:hover {
    text-decoration: none;
}
.main-container {
    margin-top: 50px;
    min-height: 540px;
    margin-bottom: 50px;
}
.subscription-main-container {
    margin-top: 50px;
    min-height: 540px;
    max-width: 500px;
    margin-bottom: 50px;
}
.form-row {
    margin-bottom: 20px;
}
.grid-row{
    margin-bottom: 10px;
}
.rtl {
    direction: rtl;
    text-align: right;
}
.admin-textfield {
    width: 50%;
}
.appson-navbar-brand{
    float:left;
    padding:14px 15px;
    font-size:13px;
    line-height:22px;
    height:50px
}
.loading {
    background: #f1f1f1;
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 10%;
    position: absolute;
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.7;
    z-index: 9999;
}
.loading div {
    position: fixed;
    text-align: center;
    direction: rtl;
    width: 100%;
}
.dataTable {

}
.dataTable th, td {
    text-align: center;
}
/************** Start Switch *************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}



.footer {
    /*border: 1px solid #dbdbdb;*/
    background-color: #f5f5f5;
    /*margin-top: 100px;*/
    padding-top: 24px;
    line-height: 2.5em;
    min-height: 200px;
}
.footer-bottom {
    background-color: #0094a3;
    color: #f1f1f1;
    height: 40px;
    line-height: 40px;
}
.footer .social-icons ul li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footer hr {
    margin: 2px 0 6px;
}
.footer-links-container {
    background-color: #0094a3;
    color: #ffffff;
    padding: 20px 12px;
    font-size: 14px;
}
.footer-links-container a, li {
    color: #000000;
}
.footer-logos-container {
    padding: 40px 12px;
}
.logo-container {
    padding-left: 0;
}
.logo {
    display: inline-block;
    margin: 5px auto
}
.slogan-container {
    padding-right: 0;
}
.slogan {
    color: #ffffff;
    direction: rtl;
    padding-top: 40px;
    font-size: 18px;
}
.social-icons li {
    float: right;
    display: inline;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
    text-indent: -9999px;
}
.social-icons {
    margin: 0;
    padding: 0;
}
.social-icons li a, a.social-icon {
    background: url(/images/social-icons.png) left top no-repeat;
    width: 33px;
    height: 33px;
    display: block !important;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.social_facebook {
    background-position: 0 0 !important;
}
.social-icons li:hover .social_facebook { background-position:0 -43px !important; }
.social_twitter {
    background-position: -40px 0 !important;
}
.social-icons li:hover .social_twitter { background-position:-40px -43px !important; }
.social_google {
    background-position: -120px 0 !important;
}
.social-icons li:hover .social_google { background-position:-120px -43px !important; }

.search-field {
    width: 200px;
    height: 34px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 8px;
    padding-right: 12px;
}
.search-field:focus {
    outline: none;
}
.black-title {
    color: #000000;
    font-size: 16px
}
.black-text {
    color: #000000;
}
.orange-title {
    color: #ee7f06;
}
.page-title {
    margin-bottom: 30px;
}
.sponsor-logo {
    margin-right: 14px;
}
.hidden {
    display: none;
}
.welcome_message {
    direction: rtl;
    min-height: 80px;
}
.important-award-container {
    margin-top: 40px;
}
.delivered-awards-table-container {
    margin-top: 40px;
}
.delivered-awards-table-container thead{
    background-color: #d8d8d8;
}
.award-description {
    margin-top: 100px;
}
.award-name {
    font-size: 36px;
    color: #50b748;
    font-weight: bold;
    margin-bottom: 10px;
}

.middle-col-slider .item {
    margin: 12px;
}
#header-slider .item img, .middle-col-slider .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px;
}
.owl-carousel div h2, .owl-carousel div .textoverlay {
    background: #00A6C7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 150px 10px 16px;
    position:absolute;
    color:#FFF;
    font-size:12px;
    display:block;
    right: 0;
    bottom: 150px;
}
#next-holder {
    display: flex;
}
#next-holder .next, .middle-col-slider .prev {
    /*height: 128px; padding-top: 50%;*/ cursor: pointer;
    align-items: stretch;
}
#middle-page-slider {
    margin-top: 30px;
    margin-bottom: 30px;
}
#middle-page-slider .item {
    border: 2px solid #CCCCCC;
}
#middle-page-slider .item img, .middle-col-slider .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px;
}
#saying-slider {
    margin-top: 30px;
    margin-bottom: 30px;
}
#saying-slider .item, .middle-col-slider .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px;
}
.saying-container {
    background-color: #f1f1f1;
    color: #0094a3;
    /*padding: 50px 0px 50px;*/
    line-height: 1.8em;
}
.saying-image {
    border: 2px solid #0094a3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
    background: #ff6666 !important;
    padding: 12px 20px 12px 20px !important;
}
.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover{
    background: #ff4444 !important;
}

.middle-col-slider-arrow {
    padding-top: 70px;
}
.middle-col-slider-image {
    width: 128px !important;
    height: 128px !important;
}

.section-resort {
    background: url("/images/bg-kd.jpg") center bottom no-repeat;
    background-size: 100%;
    min-height: 770px;
    /*margin-top: 100px;*/
    padding-top: 300px;
}
.section-resort h1 {
    color: #0094a3;
}
.section-resort h3 {
    color: #0897a5;
}
.section-resort .text-container {
    font-size: 24px;
    direction: rtl;
    line-height: 2.0em;
}
.section-resort .register-button {
    background-color: #c71f24;
    border: 2px solid #c71f24;
    border-radius: 6px;
    color: #ffffff;
    padding: 6px;
    width: 200px;
    margin:20px auto;
    -webkit-transition: .2s;
    transition: .2s;
    font-size: 20px;
    /*background-color:rgba(255, 255, 255, 0.5);*/
    /*background-color: #f5f5f5;*/
}
.section-resort .register-button:hover {
    background-color:#d6262b;
    border: 2px solid #911216;
    /*opacity: 0.7;*/
    /*width: 195px;*/
}
.section-resort a:hover {
    text-decoration: none;
}
.header-navbar-container {
    border-top: 1px solid #88c5ce;
    margin-top: 10px;
    padding-right: 0;
}
.header-navbar-container .container-fluid {
    padding-right: 6px;
}
.header-navbar {
    margin-bottom: 0px;
}
/* navbar */
.navbar-nav {
    float: right;
}
.navbar-default {
    background-color: inherit;
    border: none;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ff6666;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #88c5ce;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: inherit;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0897a5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.navbar-nav>li {
    float: right;
}
.articles-list-container {
    margin-top: 40px;
    margin-bottom: 30px;
}
.article-main-container {
    margin-top: 40px;
}
.article-container-row {
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.article-container-column {
    padding-right: 0;
    padding-left: 0;
}
.article-title {
    padding-right: 10px;
    padding-top: 10px;
}
.article-content {
    padding: 20px 10px 10px 10px;
    line-height: 1.8em;
}
.article-image-container {
    padding-right: 0;
    padding-left: 0;
}
.article-image {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
     width: 100%;
}
.article-image-in-list {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
     width: 100%;
}
.article-information-container {
    padding: 8px 10px;
}
.page-main-container {
    margin-top: 40px;
}
.page-container-row {
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.page-title {
    padding-top: 20px;
}
.page-content {
    padding: 20px 10px 10px 10px;
}

.main-col-container {
    background: linear-gradient(to top, rgba(1, 70, 134, 0.1), rgba(1, 70, 134, 0));
    padding: 100px 0;
    text-align: center;
    width: 100%;
    height: 600px;
}
.bonus-section {
    background: #f1f1f1 url(/images/bg-bonus.png) 140px bottom no-repeat;
    background-size: 40%;
    text-align: center;
    min-height: 900px;
    /*margin-top: 100px;*/
    padding-top: 200px;
}
.bonus-section h1 {
    color: #0094a3;
}
.bonus-section .text-container {
    font-size: 20px;
    direction: rtl;
    color: #333;
    line-height: 2.0em;
}
.bonus-section .bonus-button {
    border: 2px solid #88c5ce;
    border-radius: 6px;
    color: #0094a3;
    font-size: 22px;
    padding: 16px;
    width: 200px;
    margin:60px auto;
    -webkit-transition: .2s;
    transition: .2s;
    text-align: center;
}
.bonus-section .more-info-button {
    border: 2px solid #88c5ce;
    border-radius: 6px;
    color: #0094a3;
    font-size: 22px;
    padding: 16px;
    width: 200px;
    margin:60px auto;
    -webkit-transition: .2s;
    transition: .2s;
    text-align: center;
}
.bonus-section .bonus-button:hover, .bonus-section .more-info-button:hover {
    /*width: 195px;*/
    background-color: #f9f9f9;
}
.bonus-section a:hover {
    text-decoration: none;
}
.countdown-section {
    background: url("/images/countdown.jpg") center no-repeat;
    background-size: auto 100%;
    padding-top: 80px;
    /*margin-top: 30px;*/
    height: 400px;
}
.countdown-section h1 {
    color: #ffffff;
}
.training-section {
    /*background-color: #0094a3;*/
    /*background: url("/images/training-bg.jpg") center bottom no-repeat;*/
    /*background-size: 100%;*/
    /*background-color:rgba(0, 0, 0, 0.5);*/
    margin-top: 150px;
}
.training-section .buttons-main-container {
    padding-top: 165px;
}
.training-section .buttons-main-container .training-button {
    background-color: #c71f24;
    border: 1px solid #c71f24;
    margin-top: 50px;
}
.training-section .buttons-main-container .training-button:hover {
    background-color:#d6262b;
    border: 1px solid #911216;
}

div#container {
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}
div#clock {
    color: white;
    margin: 20px auto;
    width: 600px;
    overflow: hidden;
    text-align: center;
}
div#clock p {
    background: #333;
    float: left;
    height: 88px;
    width: 88px;
}
div#clock p span {
    display: block;
    font-size: 50px;
    font-weight: bold;
    padding: 5px 0 0;
}
div#clock div.space {
    color: #ccc;
    display: block;
    line-height: 1.7em;
    font-size: 50px;
    float: left;
    height: 88px;
    width: 30px;
}
div.coupon {
    color: #333 !important;
    font-size: 50px;
    font-weight: bold;
}
div.multi_clock {
    border: 1px solid #666;
    color: #333;
    float: left;
    margin: 10px;
    padding: 5px;
}
pre {
    background-color: #eee;
    border: 1px solid #ccc;
    line-height: 1.4em;
    padding: 10px;
    margin: 0;
}
.video-box >div {
    margin: 40px 0;
    display: block;
}

@media (max-width: 991px) {
    .video-box { width: 100% !important; }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


@media (max-width: 480px) {
    .logo {
        margin-top: 20px;
    }
    .main-col-container {
        padding: 0; margin: 0; margin-top: 210px;
    }
    .saying-image {
        display: inline-block !important;
        width: 120px !important;
        height: 120px !important;
    }
    .saying-text {
        margin-top: 20px;
    }
    .section-resort {
        min-height: 500px;
        background-size: cover;
        margin-top: 0px;
        padding-top: 100px;
    }
    .section-resort h1 {
        font-size: 16px;
    }
    .section-resort .text-container {
        font-size: 12px;
    }
    .section-resort .register-button {
        width: 100%;
    }
    .section-resort .register-button:hover {
        width: 99%;
    }
    .training-section {
        /*background-size: 300%;
        background-repeat: no-repeat;*/
        margin-top: 20px;
    }
    .bonus-section {
        background: none;
        min-height: 500px;
        padding-top: 30px;
    }
    .logo-container {
        padding: inherit;
    }
}

@media (min-width: 481px ) and (max-width: 767px) {
    .logo {
        margin-top: 20px;
    }
    .main-col-container {
        padding: 0; margin: 0; margin-top: 210px;
    }
    .saying-image {
        display: inline-block !important;
        width: 120px !important;
        height: 120px !important;
    }
    .saying-text {
        margin-top: 20px;
    }
    .section-resort {
        min-height: 500px;
        background-size: cover;
        margin-top: 0px;
        padding-top: 100px;
    }
    .section-resort h1 {
        font-size: 16px;
    }
    .section-resort .text-container {
        font-size: 12px;
    }
    .section-resort .register-button {
        width: 100%;
    }
    .section-resort .register-button:hover {
        width: 99%;
    }
    .training-section {
        /*background-size: 300%;
        background-repeat: no-repeat;*/
        margin-top: 20px;
    }
    .bonus-section {
        min-height: 500px;
        padding-top: 150px;
    }
}
@media (min-width:768px) and (max-width: 1024px) {
    .logo {
        margin-top: 20px;
    }
    .main-col-container {
        padding: 0; margin: 0; margin-top: 170px;
    }
    .saying-image {
        display: inline-block !important;
        width: 120px !important;
        height: 120px !important;
    }
    .saying-text {
        margin-top: 20px;
    }
    .section-resort {
        min-height: 500px;
        background-size: cover;
        margin-top: 0px;
        padding-top: 100px;
    }
    .section-resort h1 {
        font-size: 16px;
    }
    .section-resort .text-container {
        font-size: 12px;
    }
    .section-resort .register-button {
        width: 100%;
    }
    .section-resort .register-button:hover {
        width: 99%;
    }
    .training-section {
        /*background-size: 300%;
        background-repeat: no-repeat;*/
        margin-top: 50px;
    }
    .bonus-section {
        background-position: left bottom;
        min-height: 500px;
        padding-top: 60px;
    }
    .header-row {
        /*top: 20px;*/
    }
    .countdown-section {
        height: 300px;
    }
    .logo-container {
        padding-left: 10px;
        text-align: left;
    }
}
@media (min-width:1025px) and (max-width: 1281px) {
    .logo {
        margin-top: 20px;
    }
    .main-col-container {
        padding: 0; margin: 0; margin-top: 210px;
    }
    .saying-image {
        display: inline-block !important;
        width: 120px !important;
        height: 120px !important;
    }
    .saying-text {
        margin-top: 20px;
    }
    .section-resort {
        min-height: 615px;
        /* margin-top: 100px; */
        padding-top: 200px;
        min-height: 500px;
        background-size: cover;
        margin-top: 0px;
        padding-top: 100px;
    }
    .section-resort h1 {
        font-size: 16px;
    }
    .section-resort .text-container {
        font-size: 12px;
    }
    .section-resort .register-button {
        width: 100%;
    }
    .section-resort .register-button:hover {
        width: 99%;
    }
    .training-section {
        background-size: 300%;
        background-repeat: no-repeat;
    }
    .bonus-section {
        min-height: 500px;
        padding-top: 150px;
    }
}