@import url(fontiran.css);
body{
    background-color: #FFFFFF !important;
    font-family: IRANSans, tahoma !important;
}
h1, h2, h3, h4, h5, h6,input, textarea {
    font-family: IRANSans, tahoma !important;
}
a:hover {
    text-decoration: none;
}
.main-container {
    margin-top: 50px;
    min-height: 540px;
    margin-bottom: 50px;
}
.subscription-body {
    background: url("../images/landing_gift_bg.jpg") no-repeat;
    background-size: cover;
}
.subscription-main-container {
    margin-top: 20px;
    min-height: 540px;
    max-width: 500px;
    margin-bottom: 50px;
}
.subscription-steps-container {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 8px 0px 8px 0px;
    margin-bottom: 10px;
    color: #333333;
    font-size: 12px;
}
.subscription-step-number {
    background: #e6e6e6;
    border-radius: 50%;
    border: 1px solid #65B042;
    color: #3c763d;
    padding: 2px 12px 2px 12px;
    margin-left: 4px;
}
.subscription-active-step {
    animation: stepTransform 1.5s infinite;
}
.subscription-gift-image-container-first-step {
    width: 60%;
    margin: 0 auto;
    position: relative;
    animation: wiggle 1.5s infinite;
    /*margin-bottom: 30px;*/
}
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(3deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes stepTransform {
    0% {
        background-color: #7bd153;
        color: #fff;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #e6e6e6;
        color: #673bb7;
        -webkit-box-shadow: 0 0 18px #91bd09;
    }
    100% {
        background-color: #7bd153;
        color: #fff;
        -webkit-box-shadow: 0 0 9px #333;
    }
}
.form-row {
    margin-bottom: 20px;
}
.grid-row{
    margin-bottom: 10px;
}
.rtl {
    direction: rtl;
    text-align: right;
}
.admin-textfield {
    width: 50%;
}
.appson-navbar-brand{
    float:left;
    padding:14px 15px;
    font-size:13px;
    line-height:22px;
    height:50px
}
.loading {
    background: #f1f1f1;
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 10%;
    position: absolute;
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.7;
    z-index: 9999;
}
.loading div {
    position: fixed;
    text-align: center;
    direction: rtl;
    width: 100%;
}
.dataTable {

}
.dataTable th, td {
    text-align: center;
}
/************** Start Switch *************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}



.footer {
    /*border: 1px solid #dbdbdb;*/
    background-color: #f5f5f5;
    /*margin-top: 100px;*/
    padding-top: 24px;
    line-height: 2.5em;
    min-height: 200px;
}
.footer-bottom {
    background-color: #0094a3;
    color: #f1f1f1;
    height: 40px;
    line-height: 40px;
}
.footer .social-icons ul li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footer hr {
    margin: 2px 0 6px;
}
.footer-links-container {
    background-color: #0094a3;
    color: #ffffff;
    padding: 20px 12px;
    font-size: 14px;
}
.footer-links-container a, li {
    color: #000000;
}
.footer-logos-container {
    padding: 40px 12px;
}
.logo-container {
    padding-left: 0;
}
.logo {
    display: inline-block;
    margin: 5px auto
}
.black-title {
    color: #000000;
    font-size: 16px
}
.black-text {
    color: #000000;
}
.orange-title {
    color: #ee7f06;
}
.page-title {
    margin-bottom: 30px;
}
.sponsor-logo {
    margin-right: 14px;
}
.hidden {
    display: none;
}
.welcome_message {
    direction: rtl;
    min-height: 80px;
}
.important-award-container {
    margin-top: 40px;
}
.delivered-awards-table-container {
    margin-top: 40px;
}
.delivered-awards-table-container thead{
    background-color: #d8d8d8;
}
.award-description {
    margin-top: 100px;
}
.award-name {
    font-size: 36px;
    color: #50b748;
    font-weight: bold;
    margin-bottom: 10px;
}

.middle-col-slider .item {
    margin: 12px;
}
#header-slider .item img, .middle-col-slider .item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px;
}
.owl-carousel div h2, .owl-carousel div .textoverlay {
    background: #00A6C7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 150px 10px 16px;
    position:absolute;
    color:#FFF;
    font-size:12px;
    display:block;
    right: 0;
    bottom: 150px;
}
#next-holder {
    display: flex;
}
#next-holder .next, .middle-col-slider .prev {
    /*height: 128px; padding-top: 50%;*/ cursor: pointer;
    align-items: stretch;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
    background: #ff6666 !important;
    padding: 12px 20px 12px 20px !important;
}
.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover{
    background: #ff4444 !important;
}

.middle-col-slider-arrow {
    padding-top: 70px;
}
.middle-col-slider-image {
    width: 128px !important;
    height: 128px !important;
}

.header-navbar-container {
    border-top: 1px solid #88c5ce;
    margin-top: 10px;
    padding-right: 0;
}
.header-navbar-container .container-fluid {
    padding-right: 6px;
}
.header-navbar {
    margin-bottom: 0px;
}
/* navbar */
.navbar-nav {
    float: right;
}
.navbar-default {
    background-color: inherit;
    border: none;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ff6666;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #88c5ce;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: inherit;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0897a5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.navbar-nav>li {
    float: right;
}
.page-main-container {
    margin-top: 40px;
}
.page-container-row {
    background-color: #f9f9f9;
    border: 1px solid #ededed;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.page-title {
    padding-top: 20px;
}
.page-content {
    padding: 20px 10px 10px 10px;
}


@media (max-width: 991px) {
    .subscription-steps-container {
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media (max-width: 767px) {
    .subscription-steps-container {
        margin-left: 4px;
        margin-right: 4px;
    }
}


@media (max-width: 480px) {
    .subscription-steps-container {
        margin-left: 4px;
        margin-right: 4px;
    }
}

@media (min-width: 481px ) and (max-width: 767px) {
    .subscription-steps-container {
        margin-left: 4px;
        margin-right: 4px;
    }

}
@media (min-width:768px) and (max-width: 1024px) {
    .subscription-steps-container {
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media (min-width:1025px) and (max-width: 1281px) {
    .subscription-steps-container {
        margin-left: 6px;
        margin-right: 6px;
    }
}